<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>
  <arg name="is_cleaning_active" default="True"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="RAstar_planner/RAstarPlannerROS" unless="$(arg is_cleaning_active)"/>
    <param name="base_global_planner" value="robot_global_planner/RobotGlobalPlanner" if="$(arg is_cleaning_active)"/>
    <!-- <param name="base_global_planner" value="SBPLLatticePlanner" />   
   <param name="SBPLLatticePlanner/primitive_filename" value="$(find robot_navigation)/mprim/custom_primitive.mprim" />  -->

    <rosparam file="$(find robot_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_navigation)/param/move_base_params.yaml" command="load" />
    <!-- <rosparam file="$(find robot_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" /> -->
    <rosparam file="$(find robot_navigation)/param/dwb_local_planner_params.yaml" command="load" />
  </node>
</launch>
